<ion-view view-title="Home">
  <ion-content class="padding">
    <!--Contenido -->
    <center><h2>Welcome to Ionic</h2></center>
    <ion-list>
      <ion-item ng-repeat="tarea in tareas">
          <h3>{{tarea.title}}</h3>
          <p>{{tarea.desc}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(tarea)">
            Delete
          </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
