<ion-view view-title="Chats">
  <ion-content>
    <center>
      <button ng-click="getData()" class="button button-clear button-positive">
        RELOAD
      </button>
    </center>

    <ion-list>
      <!--Todo lo que empiece con ng es de Angular -->
      <!--Chats es un arreglo y chat es un elemento de este mismo -->
      <ion-item ng-repeat="estacion in estaciones" type="item-text-wrap" class="item-remove-animate item-avatar item-icon-right" href="#/tab/chats/{{estacion.name}}">

        <h2>Nombre: {{estacion.name}}</h2>
        <p>Espacios libres: {{estacion.empty_slots}}</p>
        <p>Bicicletas disponibles: {{estacion.free_bikes}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
